# ==========================================
# REGLAS PARA EL BACKEND (.NET)
# ==========================================
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal

# ==========================================
# REGLAS PARA EL FRONTEND (Next.js)
# ==========================================
**/node_modules/
**/.next/
**/out/
**/build/
**/.env*.local

# ==========================================
# REGLAS PARA EL SISTEMA OPERATIVO Y DOCKER
# ==========================================
.DS_Store
Thumbs.db
**/.docker_data/
**/.docker-volumes/